body {
    background-color: black;
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-style: none;
    background-color: #4CC9F0;
    color: black;
    border: #CCCCCC solid 2px;;
    font-size: 24px;;
    padding: 6px;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.op {
    background-color: #4361EE;
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #CCCCCC solid 3px;
    border-radius: 5px;;
    background-color: #3A0CA3;
    width: 20%;
    padding: 10px;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
}

.screen {
    background-color: #222222;
    border: #CCCCCC solid 3px;
    text-align: right;
    font-size: 24px;
    margin: 5px;
    width: 90%;
    height: 60px;
}